body{
    background-color: #FFF2F2;
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    
}
#survey-form{
    background-color: #A9B5DF;
    border: 3px solid #7886C7;
    border-radius: 10px;
    display: inline-block;
    margin: 90px;
    padding: 60px;
    width: 200px;
}
#title{
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
}
#description{
    font-size: 20px;
    text-decoration: currentColor;
}
#name-label{
    font-size: 15px;
    
}
#name{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#email-label{
    font-size: 15px;
}
#email{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#number-label{
    font-size: 15px;
}
#number{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#dropdown-label{
    font-size: 15px;
}
#dropdown{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#radio-label{
    font-size: 10px;
}

#checkbox-label{
    font-size: 15px;
}
#checkbox{
    margin: 10px;
}
#textarea-label{
    font-size: 15px;
}
#textarea{
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
#submit{
    background-color: #7886C7;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 150px;
}
